<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>design</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- 1t section started -->
        <div  class="border m-auto mt-3" id="designbdr">
            <div>
                <div class="row">
                    <div class="col-12">
                        <div>
                            <div class="m-3">
                                <p class="fs-3 fw-bold">
                                    Express Cleaning
                                </p>
                                <div class="d-flex">
                                    <p class="fs-5" id="team">
                                        Our Team
                                    </p>
                                    <p class="fw-bold" id="greter">
                                        >>
                                    </p>
                                </div>
                                <div id="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="fw-bold ms-3 mb-0">
                            One hour express cleaning (1 Cleaner)
                        </p>
                        <p class="ms-3 mb-0">
                            4.83(1.7k reviws)
                        </p>
                    </div>
                    <div class="col-4 mt-2 text-center">
                        <button type="button" class="btn btn-primary bg-transparent" id="addbtn">Primary</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="ms-3 fw-bold mt-1">
                            Starts at ADE52
                        </p>
                    </div>
                    <div class="col-4 text-center">
                        2 options
                    </div>
                </div>
                <div class="row">
                    <div class="m-auto" id="dotbdr">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="p-0 ms-3">
                            <li>Including dish washing ,mopping and cleaning of other areas</li>
                            <li>Does not including equipments and like steam mop and others</li>
                        </ul>
                    </div>
                    <p class="ms-3" id="team">
                        <a href="popups/plumber.html">view details</a>
                    </p>
                </div>
                <div class="row">
                    <div class="m-auto" id="secend">
                        
                    </div>
                </div>
            </div>
            <!-- 1st section ended -->

            <!-- 2nd section started  -->
            <div >
                <div class="row">
                    <div class="col-12">
                        <div>
                            <div class="m-3">
                                <p class="fs-3 fw-bold">
                                    Express Cleaning
                                </p>
                                <div class="d-flex">
                                    <p class="fs-5" id="team">
                                        Our Team
                                    </p>
                                    <p class="fw-bold" id="greter">
                                        >>
                                    </p>
                                </div>
                                <div id="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="fw-bold ms-3 mb-0">
                            One hour express cleaning (1 Cleaner)
                        </p>
                        <p class="ms-3 mb-0">
                            4.83(1.7k reviws)
                        </p>
                    </div>
                    <div class="col-4 mt-2 text-center">
                        <button type="button" class="btn btn-primary bg-transparent" id="addbtn">Primary</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p class="ms-3 fw-bold mt-1">
                            Starts at ADE52
                        </p>
                    </div>
                    <div class="col-4 text-center">
                        2 options
                    </div>
                </div>
                <div class="row">
                    <div class="m-auto" id="dotbdr">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="p-0 ms-3">
                            <li>Including dish washing ,mopping and cleaning of other areas</li>
                            <li>Does not including equipments and like steam mop and others</li>
                        </ul>
                    </div>
                    <p class="ms-3" id="team">
                        <a href="popups/plumber.html">view details</a>
                    </p>
                </div>
                <div class="row">
                    <div class="m-auto" id="secend">
                        
                    </div>
                </div>
            </div>
            <!-- 2nd section ended  -->
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>